.home {
  text-align: center;
  color: rgb(0, 0, 0);
}

.heading {
  border: 10px solid black;
  margin: 75px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #1d1d1d;
}

.skills {
  padding: 10%;
  background: #f7f7f7;
  text-align: center;
}

.you {
  padding: 10%;
  background: #f7f7f7;
  text-align: center;
}

.c,
.h,
.a,
.n,
.e,
.l {
  animation: bounce 0.75s infinite;
}

/* @keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  20% {
    transform: translateY(-5px);
  }
} */

/* .c:hover {
  transition: 2s;
  width: 110px;
} */
